@media (min-width:320px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        
        
        background-color: rgba(238, 53, 130, 0.911);        
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;     
        padding-bottom: 20px;  

    }


    #logo {        
        width: 15vw; 
    }

    #boton {
       
        text-align: center;
        list-style-type: none;
        gap: 0.5rem;
        flex-direction: column;
    }

    .boton {
        padding: 5px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 10px;
        transition: all 0.5s ease-out;
        font-family: cursive;
        text-align: center;
        text-decoration: none;
        color: white;

    }

    .boton:hover {
        background-color: violet;
        color: black;
    }

    .banner {        
        
        font-size: 0.5rem;
        background-color: violet;
        font-family: cursive;        
        height: 6vh;
        text-align: center;
        flex-direction: column;
        

    }

    /*index.html*/
    .imagen {
        
        background-color: rgba(238, 53, 130, 0.911);
        padding: 10px;
        width: 100%;
        height: 45vh;
        text-align: center;


    }

    .imagen>img {

        border-radius: 50px;
        width: 95vw;
        height: 40vh;
    }

    #main1 {

        
        padding: 10px;
        background-color: violet;
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .parrafo {        
        background-color: rgba(238, 53, 130, 0.911);
        padding: 10px;
        text-align: center;
        border-radius: 50px;
        align-items: center;
        font-family: cursive;
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .imagen2 {
        width: 60vw;
        height: 40vh;
        border-radius: 20%;
        
    }
   /* about*/
   .contenedor {

    padding: 20px;
    background-color: rgb(238, 53, 130, 0.911);
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    

}

.contenedor>img {

    border-radius: 30px;
    margin: 0 auto;
    width: 50vw;
    height: 40vh;
    
}

.contenedor>p {

    margin-top: 10px;
    background-color: violet;
    font-size: 1rem;
    font-family: cursive;
    text-align: justify;
    
}

    /* contact*/
    div.ctd {

        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 14vh;
        background-color: violet;
        display: flex;
        
        text-align: center;

    }

    .contenedor3>p {

        padding: 1px;
        font-size: 0.9rem;
        font-family: cursive;

    }

    .contenedor2 {


        background-color:  rgba(238, 53, 130, 0.911);
        height: 65vh;
        display: flex;
        padding: 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contenedor2>p {        
        font-family: cursive;
        font-size: 1rem;
    }

    .contenedor2>img {

        padding: 10px;
        height: 30vh;
        width:70vw;
    }

 
    /*information*/
    
    table,tr,th,td {

        background-color: violet;
        width: 60vw;
        height: 10vh;
        border: 1px rgb(5, 0, 0) solid;
        margin-left: 17%;
        text-align: center;

    }

    .table {
        background-color: rgba(238, 53, 130, 0.911);
        padding: 20px;

    }

    /*benefits*/

    #main {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(238, 53, 130, 0.911);
        height: 150vh;
        

    }

    .tabla1 {

        position: absolute;
        top:3%;
        left: 18%;
        padding: 20px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65vw;
       
    }
    ol, ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tabla2 {

        position: absolute;
        top:50%;
        left: 18%;
        padding: 20px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65vw;      
       

    }

    .tabla {

        background-color: violet;
        padding: 25px;

    }

    .image {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 40vw;
    }

    .imagen1 {
        height: 30vh;
        width: 50vw;
    }
    .prf {
        position: absolute;
        top: 95%;
        left: 21%;
        padding: 10px;
        height: 6vh;
        background-color:violet;
        text-align: center;
        font-size: 1.3rem;
        font-family: cursive;

    }

    /*raffle*/



    .mapa {
        border: 3px solid white;
        width: 40vw;
        height: 40vh;
        margin-top: 10px;
    }

    .conte {
        display: flex;
        flex-direction: column-reverse;
        
        background-color: rgba(238, 53, 130, 0.911);
        height: 90vh;
        width: 100vw;
        align-items: center;
        padding:20px;
    }

    .formulario {
        
        padding: 10px;
        border: 2px solid violet;
        font-family: cursive;
        height: 90vh;
        width: 43vw;
        margin: auto;

    }

    .letras {
        font-size: 1rem;
    }

    .nombre {
        border: 1px solid black;
        width: 38vw;
        height: 4vh;

    }

    .nombres {
        border: 1px solid black;
        width: 38vw;
        height: 6vh;

    }
    .texto{
        font-size: 0.7rem;
    }

    #enviar {
        padding: 2px;
        background-color: violet;
        color: black;
        font-family: cursive;
        width: 8vw;
        font-size: 0.8rem;
        margin-left: 20px;
        

    }

/* footers*/

    

    footer {

        background-color: rgba(238, 53, 130, 0.911);
        font-size: 1.3rem;
        padding-top: 10px;
        height: 8vh;
        text-align: center;
        font-family: cursive;
        align-content: center;
        align-items: center;

    }

    footer.ftr {
        background-color: violet;
        font-size: 1.3rem;
        padding-top: 10px;
        height: 7vh;
        text-align: center;
        font-family: cursive;
        align-content: center;
        align-items: center;

    }
}
@media (min-width:768px) and (max-width:1023px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        
        
        background-color: rgba(238, 53, 130, 0.911);        
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;     
        padding-bottom: 20px;  

    }


    #logo {        
        width: 15vw; 
    }

    #boton {
       
        text-align: center;
        list-style-type: none;
        gap: 0.5rem;
        flex-direction: column;
    }

    .boton {
        padding: 5px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 10px;
        transition: all 0.5s ease-out;
        font-family: cursive;
        text-align: center;
        text-decoration: none;
        color: white;

    }

    .boton:hover {
        background-color: violet;
        color: black;
    }

    .banner {        
        
        font-size: 0.5rem;
        background-color: violet;
        font-family: cursive;        
        height: 6vh;
        text-align: center;
        flex-direction: column;
        

    }

    /*index.html*/
    .imagen {
        
        background-color: rgba(238, 53, 130, 0.911);
        padding: 10px;
        width: 100%;
        height: 45vh;
        text-align: center;


    }

    .imagen>img {

        border-radius: 50px;
        width: 95vw;
        height: 40vh;
    }

    #main1 {

        
        padding: 10px;
        background-color: violet;
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .parrafo {        
        background-color: rgba(238, 53, 130, 0.911);
        padding: 10px;
        text-align: center;
        border-radius: 50px;
        align-items: center;
        font-family: cursive;
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .imagen2 {
        width: 60vw;
        height: 40vh;
        border-radius: 20%;
        
    }
   /* about*/
   .contenedor {

    padding: 20px;
    background-color: rgb(238, 53, 130, 0.911);
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    

}

.contenedor>img {

    border-radius: 30px;
    margin: 0 auto;
    width: 50vw;
    height: 40vh;
    
}

.contenedor>p {

    margin-top: 10px;
    background-color: violet;
    font-size: 1rem;
    font-family: cursive;
    text-align: justify;
    
}

    /* contact*/
    div.ctd {

        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 14vh;
        background-color: violet;
        display: flex;
        
        text-align: center;

    }

    .contenedor3>p {

        padding: 1px;
        font-size: 0.9rem;
        font-family: cursive;

    }

    .contenedor2 {


        background-color:  rgba(238, 53, 130, 0.911);
        height: 65vh;
        display: flex;
        padding: 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contenedor2>p {        
        font-family: cursive;
        font-size: 1rem;
    }

    .contenedor2>img {

        padding: 10px;
        height: 30vh;
        width:70vw;
    }

 
    /*information*/
    
    table,tr,th,td {

        background-color: violet;
        width: 60vw;
        height: 10vh;
        border: 1px rgb(5, 0, 0) solid;
        margin-left: 17%;
        text-align: center;

    }

    .table {
        background-color: rgba(238, 53, 130, 0.911);
        padding: 20px;

    }

    /*benefits*/

    #main {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(238, 53, 130, 0.911);
        height: 150vh;
        

    }

    .tabla1 {

        position: absolute;
        top:3%;
        left: 18%;
        padding: 20px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65vw;
       
    }
    ol, ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tabla2 {

        position: absolute;
        top:50%;
        left: 18%;
        padding: 20px;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65vw;      
       

    }

    .tabla {

        background-color: violet;
        padding: 25px;

    }

    .image {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 40vw;
    }

    .imagen1 {
        height: 30vh;
        width: 50vw;
    }
    .prf {
        position: absolute;
        top: 95%;
        left: 21%;
        padding: 10px;
        height: 6vh;
        background-color:violet;
        text-align: center;
        font-size: 1.3rem;
        font-family: cursive;

    }

    /*raffle*/



    .mapa {
        border: 3px solid white;
        width: 40vw;
        height: 40vh;
        margin-top: 10px;
    }

    .conte {
        display: flex;
        flex-direction: column-reverse;
        
        background-color: rgba(238, 53, 130, 0.911);
        height: 90vh;
        width: 100vw;
        align-items: center;
        padding:20px;
    }

    .formulario {
        
        padding: 10px;
        border: 2px solid violet;
        font-family: cursive;
        height: 90vh;
        width: 43vw;
        margin: auto;

    }

    .letras {
        font-size: 1rem;
    }

    .nombre {
        border: 1px solid black;
        width: 38vw;
        height: 4vh;

    }

    .nombres {
        border: 1px solid black;
        width: 38vw;
        height: 6vh;

    }
    .texto{
        font-size: 0.7rem;
    }

    #enviar {
        padding: 2px;
        background-color: violet;
        color: black;
        font-family: cursive;
        width: 8vw;
        font-size: 0.8rem;
        margin-left: 20px;
        

    }

/* footers*/

    

    footer {

        background-color: rgba(238, 53, 130, 0.911);
        font-size: 1.3rem;
        padding-top: 10px;
        height: 8vh;
        text-align: center;
        font-family: cursive;
        align-content: center;
        align-items: center;

    }

    footer.ftr {
        background-color: violet;
        font-size: 1.3rem;
        padding-top: 10px;
        height: 7vh;
        text-align: center;
        font-family: cursive;
        align-content: center;
        align-items: center;

    }
}
@media screen and (min-width:1024px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        position: fixed;
        background-color: rgba(238, 53, 130, 0.911);
        height: 20vh;
        display: flex;
        align-items: center;
        width: 100%;
        
    }
    
    #logo {
    
        width: 15vw;
        height: 30vh;
        margin-left: 100px;
    
    }
    
    #boton {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 0.5rem;
    }
    
    .boton {
    
        padding: 5px;    
        margin: 40px;
        cursor: pointer;
        font-size: 1.4rem;
        border-radius: 20px;
        transition: all 0.5s ease-out;
        font-family: cursive;
        text-align: center;
        text-decoration: none;
        color: white;
    
    }
    .boton:hover{
        background-color: violet;
        color: black;
    }
    
    .banner {
    
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        background-color: violet;
        font-family: cursive;
        padding-top: 20vh;
        height: 30vh;
    
    
    }
    
    div.imagen {
        background-color: rgba(238, 53, 130, 0.911);
        padding: 10px;
        width: 100%;
        height: 53vh;
        text-align: center;
    
    
    }
    
    .imagen>img {
    
    
        border-radius: 100px;
        width: 80vw;
        height: 50vh;
    }
    
    #main1 {
    
        margin: 0px;
        padding: 20px;
        background-color: violet;
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
    
    }
    
    .parrafo {
    
        position: relative;
        background-color: rgba(238, 53, 130, 0.911);
        width: 70vw;
        text-align: center;
        border-radius: 50px;
        align-items: center;
        font-family: cursive;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    
    aside {
    
        width: 50vw;
        align-items: center;
        text-align: center;
    }
    
    aside>img {
        width: 50vw;
        height: 60vh;
        border-radius: 20%;
        margin-left: 10px;
    }
    
    /* contact*/
    div.ctd {
    
    
        padding: 20px;
        height: 23vh;
        background-color: violet;
        display: flex;
        align-items: center;
        text-align: center;
    
    }
    
    div.contenedor3>p {
    
    
        width: 45vw;
        font-size: 2rem;
        font-family: cursive;
    
    }
    
    div.contenedor2 {
    
    
        background-color: violet;
        height: 90vh;
        text-align: center;
        align-items: center;
    }
    
    div.contenedor2>p {
    
        padding: 20px;
        font-family: cursive;
        background-color: rgba(238, 53, 130, 0.911);
        font-size: 1.5rem;
    }
    
    div.contenedor2>img {
    
        height: 50vh;
        width: 60vw;
    }
    
    /* about*/
    div.contenedor {
    
        background-color: rgb(238, 53, 130, 0.911);
        height: 85vh;
        display: flex;
        text-align: center;
        align-items: center;
    
    }
    
    .contenedor>img {
    
        border-radius: 100px;
        margin-left: 100px;
        width: 35vw;
        height: 60vh;
        padding: 10px;
    }
    
    .contenedor>p {
    
    
        background-color: violet;
        margin-left: 150px;
        height: 50vh;
        width: 90vh;
        font-size: 1.5rem;
        font-family: cursive;
    
    }
    
    /*information*/
    table,
    tr,
    th,
    td {
    
        background-color: violet;
        width: 550px;
        height: 150px;
        border: 1px rgb(5, 0, 0) solid;
        margin-left: 350px;
        text-align: center;
    
    }
    
    .table {
        background-color: rgba(238, 53, 130, 0.911);
        padding: 20px;
    
    }
    
    /*benefits*/
    
    #main {
        padding: 20px;
        display: flexbox;
        background-color: rgba(238, 53, 130, 0.911);
        height: 100vh;
    
    }
    
    .tabla1 {
    
        padding: 20px;
        border: 1px solid;
        display: flex;
        align-items: center;
        width: 80vw;
        justify-content: center;
        justify-content: space-evenly;
        margin-left: 100px;
    
    
    }
    
    .tabla2 {
    
        padding: 20px;
        border: 1px solid;
        display: flex;
        align-items: center;
        width: 80vw;
        justify-content: center;
        justify-content: space-evenly;
        margin-left: 100px;
    
    }
    
    .tabla {
    
        background-color: violet;
        padding: 30px;
    
    }
    
    .image {
        padding: 10px;
        margin-left: 25px;
        width: 200px;
    }
    
    .tabla1>img {
        height: 200px;
        width: 300px;
    
    }
    
    .tabla2>img {
        height: 220px;
        width: 300px;
    
    }
    
    /*raffle*/
    
    
    
    .mapa {
        border: 3px solid white;
        width: 30vw;
        height: 60vh;
    }
    .conte{
        
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(238, 53, 130, 0.911);
        height: 130vh;
        align-items: center;
    }
    .formulario {
        
        padding: 10px;
        border: 2px solid violet;
        font-family: cursive;
        height: 118vh;
        width: 35vw;    
        
        
    }
    .letras{
        font-size: 1.5rem;
        
    }
    .nombre {
        border: 1px solid black;
        width: 33vw;
        height: 6vh;
        
    }
    .nombres {
        border: 1px solid black;
        width: 33vw;
        height: 20vh;
        
    }
    
    #enviar {
        padding: 5px;
        background-color: blue;
        color: beige;
        font-family: cursive;
        width: 5vw;
        font-size: 1rem;
        margin-left: 9.5vw;
        
    }
    
    
    
    .prf {
        height: 8vh;
        background-color: rgba(238, 53, 130, 0.911);
        text-align: center;
        font-size: 30px;
        font-family: cursive;
    
    }
    
    footer {
    
        background-color: rgba(238, 53, 130, 0.911);
        font-size: 2rem;
        padding-top: 10px;
        height: 10vh;
        text-align: center;
        font-family: cursive;
        align-content: center;
        align-items: center;
    
    }
    
    footer.ftr {
        background-color: violet;
        font-size: 2rem;
        padding-top: 10px;
        height: 10vh;
        text-align: center;
        font-family: cursive;
        align-content: center;
        align-items: center;
    
    }
}